@model IEnumerable<ARSDAL.AirCraft>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AcNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MfdBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MfdOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.AcNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Capacity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MfdBy)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MfdOn)
    </td>
    <partial name="_ButtonPartial" model="item.ProductId" />
    @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AcID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AcID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AcID })
        </td>*@
</tr>
}

</table>
