@model ARSDAL.Admin


<link href="~/Content/AdminLogin.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#do_login").click(function () {
            closeLoginInfo();
            $(this).parent().find('span').css("display", "none");
            $(this).parent().find('span').removeClass("i-save");
            $(this).parent().find('span').removeClass("i-warning");
            $(this).parent().find('span').removeClass("i-close");

            var proceed = true;
            $("#login_form input").each(function () {

                if (!$.trim($(this).val())) {
                    $(this).parent().find('span').addClass("i-warning");
                    $(this).parent().find('span').css("display", "block");
                    proceed = false;
                }
            });

            if (proceed) //everything looks good! proceed...
            {
                $(this).parent().find('span').addClass("i-save");
                $(this).parent().find('span').css("display", "block");
            }
        });

        //reset previously results and hide all message on .keyup()
        $("#login_form input").keyup(function () {
            $(this).parent().find('span').css("display", "none");
        });

        openLoginInfo();
        setTimeout(closeLoginInfo, 1000);
    });

    function openLoginInfo() {
        $(document).ready(function () {
            $('.b-form').css("opacity", "0.01");
            $('.box-form').css("left", "-37%");
            $('.box-info').css("right", "-37%");
        });
    }

    function closeLoginInfo() {
        $(document).ready(function () {
            $('.b-form').css("opacity", "1");
            $('.box-form').css("left", "0px");
            $('.box-info').css("right", "-5px");
        });
    }

    $(window).on('resize', function () {
        closeLoginInfo();
    });

</script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class='box'>
        <div class='box-form'>
            <div class='box-login-tab'></div>
            <div class='box-login-title'>
                <div class='i i-login'></div><h2>LOGIN</h2>
            </div>
            <div class='box-login'>
                <div class='fieldset-body' id='login_form'>

                    <button onclick="openLoginInfo();" class='b b-form i i-more' title='Mais Informações'></button>
                    <p>
                        <font color="@ViewBag.color">@ViewBag.Message</font>
                    </p>
                    <p class='field'>

                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </p>
                    <p class='field'>
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </p>

                    <label class='checkbox'>
                        <input type='checkbox' value='TRUE' title='Keep me Signed in' /> Keep me Signed in
                    </label>

                    <input type='submit' id='do_login' value='GET STARTED' title='Get Started' />
                </div>
            </div>
        </div>
        <div class='box-info'>
            <p>
                <button onclick="closeLoginInfo();" class='b b-info i i-left' title='Back to Sign In'></button><h3>Need Help?</h3>
            </p>
            <div class='line-wh'></div>
            <button onclick="" class='b-support' title='Forgot Password?'> Forgot Password?</button>
            <button onclick="" class='b-support' title='Contact Support'> Contact Support</button>
            <div class='line-wh'></div>
            <button onclick="" class='b-cta' title='Sign up now!'> CREATE ACCOUNT</button>
        </div>
    </div>




    <div class='icon-credits'>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a>, <a href="http://www.flaticon.com/authors/budi-tanrim" title="Budi Tanrim">Budi Tanrim</a> & <a href="http://www.flaticon.com/authors/nice-and-serious" title="Nice and Serious">Nice and Serious</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}